<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Authority list</title>-->
<!--</head>-->
<!--<body>-->
<!--<div class="card">-->
<!--    <div class="card-header bg-light">-->
<!--        <div class="row ">-->
<!--            <div class="col-sm-4 ml-4">-->
<!--                <h4><Authority></Authority> List</h4>-->
<!--            </div>-->
<!--            <div class="col-sm-5">-->
<!--                <div class="input-group">-->
<!--                    <input type="search" class="form-control" id="myText" />-->
<!--                    <div class="input-group-prepend">-->
<!--                        <button  class="btn btn-primary" type="submit">-->
<!--                            Search-->
<!--                        </button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <table >-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th></th>-->
<!--            <th ng-repeat="role in roles">{{role.name}}</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr ng-repeat="acc in admins">-->
<!--            <td>{{acc.fullname}}</td>-->
<!--            <td ng-repeat="role in roles">-->
<!--                <input ng-checked="authority_of(acc, role)" ng-click="authority_change(acc,role)" type="checkbox">-->
<!--            </td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->

<!--</div>-->
<!--</body>-->

<!--</html>-->



