
<div ng-controller="authority-ctrl">
	<table  style="width: 100%; border: 1px">
		<thead>
		<tr>
			<th></th>
			<th ng-repeat="role in roles">{{role.name}}</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="acc in admins">
			<th>{{acc.fullname}}</th>
			<th ng-repeat="role in roles">
				<input type="checkbox" ng-checked="authority_of(acc,role)"
					   ng-click="authority_changed(acc,role)">
			</th>
		</tr>
		</tbody>
	</table>
</div>

















<!--<div class="content-header">-->
<!--	<div class="container">-->
<!--		<div class="row mb-2">-->
<!--			<div class="col-sm-6">-->
<!--				<h1 class="m-0 text-dark ">AUTHORITY MANAGER</h1>-->
<!--			</div>&lt;!&ndash; /.col &ndash;&gt;-->
<!--			<div class="col-sm-6">-->
<!--				<ol class="breadcrumb float-sm-right">-->
<!--					<li class="breadcrumb-item"><a href="#!home">Home</a></li>-->
<!--					<li class="breadcrumb-item active ">Authority Manager</li>-->
<!--				</ol>-->
<!--			</div>&lt;!&ndash; /.col &ndash;&gt;-->
<!--		</div>&lt;!&ndash; /.row &ndash;&gt;-->
<!--	</div>&lt;!&ndash; /.container-fluid &ndash;&gt;-->
<!--</div>-->


<!--<div class="row justify-content-center ">-->
<!--	<div class="col-sm-10 mr-3">-->
<!--		<div class="card" style="border: rgb(205, 218, 27) 1px solid ;box-shadow: 3px 3px 3px rgb(229, 241, 157);">-->
<!--			<div class="card-header text-center" style="background-color: rgb(52,58,64);">-->
<!--				<div class="row justify-content-center">-->
<!--					<h3 class="card-title" style="color: rgb(241, 234, 226); font-size: 25px; font-weight: bold;">Authority MANAGER-->
<!--					</h3>-->
<!--				</div>-->
<!--			</div>-->

<!--			<div class="card-body">-->
<!--				<div class="col-sm-12">-->
<!--					&lt;!&ndash; tabs &ndash;&gt;-->
<!--					<ul class="nav nav-pills productTab mb-3" id="pills-tab" role="tablist">-->
<!--						<li class="nav-item" role="presentation">-->
<!--							<a class="nav-link active" data-target="#pills-home" id="pills-home-tab" data-toggle="pill" href=""-->
<!--							   role="tab" aria-controls="pills-home" aria-selected="true">LIST</a>-->
<!--						</li>-->
<!--						<li class="nav-item" role="presentation">-->
<!--							<a class="nav-link" data-target="#pills-profile" id="pills-profile-tab" data-toggle="pill" href=""-->
<!--							   role="tab" aria-controls="pills-profile" aria-selected="false">DETAIL</a>-->
<!--						</li>-->
<!--					</ul>-->

<!--					&lt;!&ndash; content &ndash;&gt;-->
<!--					<div class="tab-content" id="pills-tabContent" style="border:0.5px solid grey">-->
<!--						&lt;!&ndash; pill home &ndash;&gt;-->
<!--						<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">-->
<!--							<table>-->
<!--								<thead>-->
<!--								<tr>-->
<!--									<th></th>-->
<!--									<th ng-repeat="role in roles">{{role.name}}</th>-->
<!--								</tr>-->
<!--								</thead>-->
<!--								<tbody>-->
<!--								<tr ng-repeat="acc in admins">-->
<!--									<td>{{acc.fullname}}</td>-->
<!--									<td ng-repeat="role in roles">-->
<!--										<input ng-checked="authority_of(acc, role)" ng-click="authority_change(acc,role)" type="checkbox">-->
<!--									</td>-->
<!--								</tr>-->
<!--								</tbody>-->
<!--							</table>-->
<!--						</div>-->

<!--						&lt;!&ndash; profile &ndash;&gt;-->
<!--						<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">-->
<!--							<ng-include src="'/assets/admin/authority/_detail.html'"></ng-include>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->

<!--		</div>-->
<!--	</div>-->
<!--	&lt;!&ndash; /.col-md-6 &ndash;&gt;-->
<!--</div>-->






